body{
    background-color: rgb(219, 233, 255);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.main-container,.sidebar-step,.plan-types,.month-year,.add-on1,.add-on2,.add-on3,.add-on-left,.info-top-r1,.info-top-r2,.info-top-r3,.info-top-r4,.info-bottom{
  display: flex;
  flex-direction: row;
}
.main-sidebar,.steps,.step-right,.main-right,.main-header,.main-body,.inputs,.plan-one,.plan-two,.plan-three,.add-onText,.info-top{
  display: flex;
  flex-direction: column;
}
.add-on1,.add-on2,.add-on3,.info-top-r1,.info-top-r2,.info-top-r3,.info-top-r4,.info-bottom{
  align-items: center;
  justify-content: space-between;
}
body,.step-left,.month-year,.final-step{
  align-items: center;
  justify-content: center;
}

.main-container{
    column-gap: 15%;
    background-color: white;
    padding: 15px;
    border-radius: 18px;
    width: 52vw;             /* white main container*/
    min-width: 760px;
}
.main-sidebar{
    row-gap: 30px;
    position: relative;
    color: white;
    letter-spacing: 0.5px;
}
.steps{
    position: absolute;
    row-gap: 30px;
    top: 6%;
    left: 12%;
}
.sidebar-step{
    column-gap: 18px;
}
.step-left{
    display: flex;
    font-weight: 500;
    height: 40px;
    width: 40px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 30px; 
}
.step-right{
    justify-content: center;
    row-gap: 5px;
}
.step-right-top{
    font-size: 10px;
    color: rgb(209, 209, 209);
}
.step-right-bottom{
    font-size: 14px;
    font-weight: 500;
}
.active{
    background-color: rgba(190,224,249,255);
    color: black;
}
/* ---------------------------------------------- */

.main-right{
    width:fit-content;
    letter-spacing: 0.5px;
    margin-top: 30px;
    position: relative;
}
.main-header{
    margin-bottom: 2.5rem;
    width:   24vw;
}
.header-top{
    font-weight: 700;
    font-size: 32px;
}
.header-bottom{
    font-size: 15px;
    color: rgb(143, 143, 143);
}
.inputs{
    row-gap: 6px;
    margin-bottom: 15px;
    position: relative;
}
.inputs div input{
  width:   24vw;
}
.input-label{
    font-size: 13px;
}

/* ----------------------------------------------- */

.footer-buttons{
   user-select: none;
}
.button-left{
    color:  rgb(143, 143, 143);
    font-size: 14px;
    position: absolute;
    bottom: 2rem;
    left: 0;
    display: none;
}
.button-right button{
    padding: 13px 20px;
    border: none;
    background-color: #03285b;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 7px;
    position: absolute;
    right: 0;
    bottom: 1rem;
}

.button-left:hover,.button-right button:hover{
    cursor: pointer;
}
.main-sidebar *:hover { 
    cursor:default; 
}

input[type="text"], input[type="email"], input[type="number"] {
    height: 45px;
    width: 100%;
    box-sizing: border-box;        /*magic*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    border: 2px solid  rgb(167, 167, 167);;
    font-weight: 500;
    color: darkslategrey;
    padding-left: 13px;
    border-radius: 8px;
  }

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="number"]::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgb(167, 167, 167);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border: 1px solid rgb(107, 121, 192);
    outline: none;
    border-width: 2px;
} 
.error-message {
    display: flex;
    position: absolute;
    white-space: nowrap;
    right: 0;
    font-size:13px;
    color: red;
  }
  
  .off{                  /* for the above class*/
    display: none;
  }
  .global{
    display: none;
  }

  /*---------------------SLIDER------------------------------*/
  .switch {
    position: relative;
    display: flex;
    width: 45px;
    height: 22px;
    margin: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(37, 36, 36);
    border-radius: 34px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(37, 36, 36);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(37, 36, 36);
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  /* Prevent slider color change on hover */

  
  .slider:hover:before {
    background-color: white;
  }
  
/*-----------------step2----------------------------*/

.step2-body{
  display:none;
  flex-direction: column;
  row-gap: 30px;
  letter-spacing: 0;
  width:   24vw;
}
.plan-types{
   
  column-gap: 16px;
}
.plan-one,.plan-two,.plan-three{
  justify-content: space-between;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  padding: 15px;
  height: 180px;
  width: 130px;
  cursor: pointer;
  transition: all 0.3s;
}
.selected-plan {
  border: 1px solid black;
  background-color: #f2f2ff;
}
.plan-info{
  font-weight: 700;
  letter-spacing: normal;
  font-size: 15px;
}
.plan-cost{
  font-weight: 400;
  font-size: 13px;
  color: gray;
}
.plan-one:hover,.plan-two:hover,.plan-three:hover{
  background-color: #f2f2ff;
  border-color: black;
}

.month-year{
  column-gap: 20px;
  background-color: aliceblue;
  margin-right: 12px;
  border-radius: 5px;
  font-size: 15px;
  color: gray;
  font-weight: 500;
  letter-spacing: normal;
}
.plan-yearly{
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: rgb(135, 135, 255);
}
.step2-alert{
  display: none;
  color: red;
  font-size: 13px;
}
/*-------------------------------------------*/

.step3-body{
  display:none;
  flex-direction: column;
  row-gap: 15px;
  letter-spacing: 0;
  width: 24vw;
}
.add-on1,.add-on2,.add-on3{ 
  border: 1px solid purple;
  padding: 20px;
  border-radius: 7px;
}
.add-on1:hover,.add-on2:hover,.add-on3:hover,.checkbox input:hover{
  cursor: pointer;
  background-color: #f8f8ff;
}

.add-on-left{
  align-items: center;
  column-gap: 10px;
}
.checkbox{
  /* Double-sized Checkboxes */
  transform: scale(1.3);
}
.add-onText-top{
  font-weight: 700;
  font-size: 17px;
}
.add-onText-bottom{
  font-size: 14px;
  color: gray;
}
.add-onCost{
  font-size: 13px;
  color: rgb(75, 75, 207);
  font-weight: 500;
}

/*--------------------------------------------------*/
.step4-body{
  display: none;
  flex-direction: column;
  letter-spacing: 0;
  font-size: 14px;
  color: rgb(151, 150, 150);
  width:   24vw;
}
.info-top{
  row-gap: 20px;
  background-color: #f8f8ff;
  padding: 25px;
  border-radius: 5px;
}
.info-top-r1{
  border-bottom: 1px solid rgb(158, 158, 158);
  font-size: 15px;
  padding-bottom: 20px;
  font-weight: 700;
  color: black;
}
.info-top-r1-left-bottom a{
  font-weight: 400;
  font-size: 13px;
}
.info-top-r-right{
  color:rgb(58, 58, 58) ;
}
.info-bottom-r-right{
  font-size: 22px;
  color: rgb(57, 226, 170);
  font-weight: 700;
}
.info-bottom{
  padding: 25px;
}
/*---------------------------------------------------*/
.final-step{
  display: none;
  row-gap: 15px;
  flex-direction: column;
  text-align: center;
  height: 500px;
  margin-left: -80px;
}

.final-step-thank{
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}
.final-step-text{
  font-size: 18px;
  color: gray;
  width: 520px;
}
.mobile{
  display: none;
}
@media(max-width: 500px) {
  *{
    display: none;
  }
  .mobile{
    display: block;
  }
}