body{
    background-color: peachpuff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-container{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    background-color: white;
    padding: 15px;
    border-radius: 18px;
    width: 910px;             /* white main container*/
}
.main-sidebar{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    color: white;
    letter-spacing: 0.5px;
}
.sidebar-background{
    
}
.steps{
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    top: 6%;
    left: 12%;
}
.sidebar-step{
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}
.step-left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 30px; 
}
.step-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.step-right-top{
    font-size: 10px;
    color: rgb(209, 209, 209);
}
.step-right-bottom{
    font-size: 14px;
    font-weight: 500;
}
.active{
    background-color: aquamarine;
    color: black;
}
/* ---------------------------------------------- */

.main-right{
    display: flex;
    flex-direction: column;
    width:fit-content;
    letter-spacing: 0.5px;
    margin-top: 30px;
    position: relative;
}
.main-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
.header-top{
    font-weight: 700;
    font-size: 32px;
}
.header-bottom{
    font-size: 15px;
    color: rgb(143, 143, 143);
}
.main-body{
    display: flex;
    flex-direction: column;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-bottom: 15px;
    position: relative;
}
.input-label{
    font-size: 13px;
}

/* ----------------------------------------------- */

.footer-container{
 
}

.footer-buttons{
   
}
.button-left{
    color:  rgb(143, 143, 143);
    font-size: 14px;
    position: absolute;
    bottom: 1.7rem;
    left: 0;

    display: none;
}
.button-right button{
    padding: 13px 20px;
    border: none;
    background-color: rgb(22, 22, 128);
    color: white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 7px;

    position: absolute;
    right: 0;
    bottom: 1rem;
}

.button-left:hover,.button-right button:hover{
    cursor: pointer;
}
.main-sidebar *:hover { 
    cursor:default; 
}

input[type="text"], input[type="email"], input[type="number"] {
    height: 45px;
    width: 100%;
    box-sizing: border-box;        /*magic*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    border: 2px solid  rgb(167, 167, 167);;
    font-weight: 500;
    color: darkslategrey;
    padding-left: 13px;
    border-radius: 8px;
  }

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="number"]::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgb(167, 167, 167);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border: 1px solid rgb(107, 121, 192);
    outline: none;
    border-width: 2px;
} 
.error-message {
    display: flex;
    position: absolute;
    white-space: nowrap;
    right: 0;
    font-size:13px;
    color: red;
  }
  
  .off{                  /* for the above class*/
    display: none;
  }